.mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  z-index: 10;

  @include breakpoint (medium) {
    display: none;
  }

  &__icon {
    position: relative;
    width: 100%;
    height: 3px;
    background: $white;
    border-radius: 5px;

    &::after, &::before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: $white;
      transition: .3s;
    }

    &::after {
      bottom: -8px;

      .close & {
        opacity: 0;
      }
    }

    &::before {
      top: -8px;

      .close & {
        top: 0;
        transform: rotate(90deg);
      }
    }

    .close & {
      transform: rotate(45deg);
    }

  }

}