.slide {
  @include margin-centered;
  height: 400px;
  max-width: 900px;
  overflow: hidden;

  @include breakpoint(medium) {
    height: 500px;
    border-radius: rem(10);
  }

  &__item {
    position: relative;
    display: none;

    &.active {
      display: block;
    }

    &.animation-left {
      animation: showSlideLeft .3s forwards;
    }

    &.animation-right {
      animation: showSlideRight .3s forwards;
    }
  }

  &__overlay {
    position: absolute;
    top: 0  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(15);
    width: 100%;
    height: 400px;
    background: transparentize($black, .2);
    transition: .3s;
    opacity: 0;

    @include breakpoint(medium) {
      height: 500px;
    }

    .slide__item:hover & {
      opacity: 1;
    }
  }

  &__title, &__button {
    transition: .3s;

    .slide__item:hover & {
      transform: none;
    }
  }

  &__title {
    margin-bottom: rem(30);
    font-size: rem(18);
    font-weight: 600;
    letter-spacing: .05em;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-50px);

    @include breakpoint(medium) {
      font-size: rem(36);
    }
  }

  &__button {
    @include padding-height(10);
    width: 130px;
    font-size: rem(12);
    font-weight: 600;
    transform: translateX(50px);

    @include breakpoint(medium) {
      @include padding-height(16);
      width: 180px;
      font-size: rem(16);
      font-weight: 500;
    }
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
}

.slide-nav {
  display: flex;
  justify-content: center;

  &__link {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid $white;
    border-radius: 50%;
    text-indent: -9999px;

    & + .slide-nav__link {
      margin-left: rem(10);
    }

    &.active {
      background: $red;
      border: 1px solid $red;
      transition: .3s;
    }
  }
}

.slide-arrows {
  &__link {
    display: block;
    position: absolute;
    bottom: 0;
    font-size: rem(48);
    @include breakpoint(medium) {
      font-size: rem(64);
      top: 50%;
      bottom: 50%;
    }

    &.left {
      left: 20px;

      @include breakpoint(medium) {
        left: 50px;
      }
      
      @include breakpoint(large) {
        left: 90px;
      }

      @include breakpoint(x-large) {
        left: 150px;
      }
    }
  
    &.right {
      right: 20px;

      @include breakpoint(medium) {
        right: 50px;
      }

      @include breakpoint(large) {
        right: 90px;
      }

      @include breakpoint(x-large) {
        right: 150px;
      }
    }
  }
}

@keyframes showSlideRight {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes showSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}