.footer {
  @include padding-height(30);
  background: $black;
  color: $white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-size: rem(14);
    font-weight: 500;
  }

  &__link {
    color: $white;
  }
}