.header {
  @include padding-height(10);
  position: fixed;
  width: 100%;
  z-index: 999;
  transition: .3s linear;

  &-scroll {
    @include padding-height(0);
    background: $black;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    @include padding-height(24);
    color: $white;
    font-family: $title-font;
    font-size: rem(36);
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 1.19;
    text-transform: uppercase;
    transition: .5s;

    .header-scroll & {
      @include padding-height(15);
    }
  }
}