.services {
  @include padding-height(70);

  &__container {
    display: grid;
    gap: rem(30);

    @include breakpoint(medium) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__item {
    @include margin-centered;
    max-width: 375px;
  }
}