.services {
  @include padding-height(70);

  &__container {
    display: grid;
    gap: rem(30);

    @include breakpoint(small) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__item {
    @include margin-centered;
    max-width: 375px;

    &:first-of-type {
      @include breakpoint(small) {
        grid-column: 1 / 3;
      }
      @include breakpoint(large) {
        grid-column: 1;
      }
    }

    &:nth-of-type(2) {
      @include breakpoint(small) {
        grid-column: 3 / 5;
      }
      @include breakpoint(large) {
        grid-column: 2;
      }
    }

    &:last-of-type {
      @include breakpoint(small) {
        grid-column: 2 / 4;
      }
      @include breakpoint(large) {
        grid-column: 3;
      }
    }
  }
}